@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #161a1d;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.pantalla{
    display: flex;
    flex-direction: column;
    border: solid 4px #ffc600;
    height: 90%;
    width: 90%;
    background-color: #202020;
    border-radius: 20px;
    position: relative;
}

.botonJuego{
    padding: 10px;
    background-color: #ffc600;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonJuego:hover{
    background-color: #e96805;
    transition: .5s;
}

.botonJuego span{
    color: white;
    font-weight: bold;
    font-family: "Kode Mono", monospace;
    font-size: 20px;
}

.controladores{
    position: absolute;
    bottom: 0;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 14px 14px;
    background-color: #0b0c0c;
    width: 100%;
    height: 80px;
}

.cronometro span:first-child{
    margin-right: 10px;
}

.cronometro span{
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
}

.puntaje span{
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
}

/* Cards */

.juego{
    padding: 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}






/*Frente*/
.contenidoCard{
    width: 15%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.frutaRoja{
    background: rgb(224,30,55);
    background: linear-gradient(90deg, rgba(224,30,55,1) 0%, rgba(199,31,55,1) 48%, rgba(189,31,54,1) 97%);
}

.frutaMorada{
    background: rgb(157,78,221);
    background: linear-gradient(90deg, rgba(157,78,221,1) 0%, rgba(199,125,255,1) 48%, rgba(224,170,255,1) 97%);
}

.frutaVerde{
    background: rgb(0,128,0);
background: linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(112,224,0,1) 48%, rgba(158,240,26,1) 97%);
}

.frutaNaranja{
    background: rgb(255,158,0);
background: linear-gradient(90deg, rgba(255,158,0,1) 0%, rgba(255,170,0,1) 48%, rgba(255,182,0,1) 97%);
}

.frutaAmarilla{
    background: rgb(255,208,0);
background: linear-gradient(90deg, rgba(255,208,0,1) 0%, rgba(255,221,0,1) 48%, rgba(255,234,0,1) 97%);
}


/*Respaldo*/
.contenidoCard .back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.contenidoCard .respaldo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    animation: ponerFondo1 3s;
}

.contenidoCard .respaldo2{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    animation: ponerFondo2 .2s;
}

@keyframes ponerFondo2{
    0%{
        height: 8%;
        border-radius: 15px 15px 0 0;
    }
    100%{
        height: 100%;
    }
}


@keyframes ponerFondo1{
    0%{
        height: 100%;
    }
    25%{
        height: 8%;
        border-radius: 15px 15px 0 0;
    }
    50%{
        height: 8%;
        border-radius: 15px 15px 0 0;
    }
    75%{
        height: 8%;
        border-radius: 15px 15px 0 0;
    }
    100%{
        height: 100%;
    }
}

.contenidoCard .back2{
    top: 0;
    position: absolute;
    width: 100%;
    height: 8%;
    border-radius: 15px 15px 0 0;
    animation: corteRespaldo .2s;
}

.contenidoCard .back3{
    top: 0;
    position: absolute;
    width: 100%;
    height: 8%;
    border-radius: 15px 15px 0 0;
    animation: corteRespaldo .2s;
}

@keyframes corteRespaldo{
    0%{
        height: 100%;
    }
    100%{
        height: 8%;
    }
}


.imgCard img{
    padding: 10px;
    width: 100px;
}

.titleCard{
    font-family: "Kode Mono", monospace;
    color: white;
    font-weight: bold;
}

