@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #161a1d;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.pantalla{
    display: flex;
    flex-direction: column;
    border: solid 4px #ffc600;
    height: 90%;
    width: 90%;
    background-color: #202020;
    border-radius: 20px;
}

.controladores{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 14px 14px;
    background-color: #0b0c0c;
    width: 100%;
    height: 80px;
}

.cronometro span:first-child{
    margin-right: 10px;
}

.cronometro span{
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
}

.puntaje span{
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
}