@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #161a1d;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.pantalla{
    display: flex;
    flex-direction: column;
    border: solid 4px #ffc600;
    height: 90%;
    width: 90%;
    background-color: #202020;
    border-radius: 20px;
}

.controladores{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 14px 14px;
    background-color: #0b0c0c;
    width: 100%;
    height: 80px;
}

.cronometro span:first-child{
    margin-right: 10px;
}

.cronometro span{
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
}

.puntaje span{
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
}

/* Cards */

.juego{
    padding: 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/*Respaldo*/
.backCard{
    width: 15%;
    height: 250px;
    border-radius: 20px;
    background-color: wheat;
}

.backCard img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

/*Frente*/
.contenidoCard{
    width: 15%;
    height: 170px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.frutaRoja{
    background: rgb(224,30,55);
    background: linear-gradient(90deg, rgba(224,30,55,1) 0%, rgba(199,31,55,1) 48%, rgba(189,31,54,1) 97%);
}

.frutaMorada{
    background: rgb(157,78,221);
    background: linear-gradient(90deg, rgba(157,78,221,1) 0%, rgba(199,125,255,1) 48%, rgba(224,170,255,1) 97%);
}

.frutaVerde{
    background: rgb(0,128,0);
background: linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(112,224,0,1) 48%, rgba(158,240,26,1) 97%);
}

.frutaNaranja{
    background: rgb(255,158,0);
background: linear-gradient(90deg, rgba(255,158,0,1) 0%, rgba(255,170,0,1) 48%, rgba(255,182,0,1) 97%);
}

.frutaAmarilla{
    background: rgb(255,208,0);
background: linear-gradient(90deg, rgba(255,208,0,1) 0%, rgba(255,221,0,1) 48%, rgba(255,234,0,1) 97%);
}

.contenidoCard .back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
}


.imgCard img{
    padding: 10px;
    width: 100px;
}

.titleCard{
    font-family: "Kode Mono", monospace;
    color: white;
    font-weight: bold;
}

